@(questionList: List[Question])

@import helper._
@import helper.twitterBootstrap._
@import helpers.ApplicationHelper._


@main("Question List") {
    
    <table class="table table-condensed">
	   	 <thead>
			<tr>
				<td>Answers</td>
				<td>Title</td>
				<td>Posted</td>
			</tr>
	   	 </thead>
	   	 <tbody>
   @for(question <- questionList) {
	   		<tr>	 
	   			<td><span class="badge">@question.answers.size()</span></td>
	   			<td>
            <a href="@routes.Questions.showQuestion(question.id.toString())">
              @question.title
            </a>
          </td>
	   			<td>@time_ago_in_words(question.publish_date)</td>
			</tr> 
   }

   @if(getCurrentUser() != null) {

   <a href="/question/new" class="btn">Create new question</a>
  }
    	</tbody>
   	 </table>
    
}