@(questionForm: Form[Question])

@import helper._
@import helper.twitterBootstrap._
@import helpers.ApplicationHelper._

@main("Questions") {
    <h1>Create Question</h1>
    @form(routes.Questions.create(), 'class -> "well form-inline") {
            @inputText(questionForm("title"), '_label -> "Question title")
            @inputText(questionForm("description"), '_label -> "Question description")
            <input type="hidden" value="@getCurrentUser().id.toString()" name="questionOwner.id"/>
        <div class="actions">
            <input type="submit" value="Create Question" class="btn primary"> or 
            <a href="@routes.Questions.index()" class="btn">Cancel</a> 
        </div>
        
    }

}