@(question: Question, answerForm:Form[Answer])

@import helper._
@import helpers.ApplicationHelper._
@import helper.twitterBootstrap._

@main("View Question") {

@question.title 
@question.description
@question.tags
@question.publish_date
@question.questionOwner.getUsername()

   @form(routes.Questions.answerQuestion(), 'class -> "well form-inline") {
   
   		@for(answer <- question.answers) {
   			@answer.description
   			@answer.user.getUsername
   		}	
   	
         
         <fieldset>
            @textarea(answerForm("description"), '_label -> "Type your answer", 'rows -> 5, 'cols -> 150)
           <input type="hidden" name="question.id" value="@question.id"></input>
           <input type="hidden" name="user.id" value="@getCurrentUser().id"></input>  
         </fieldset>
        <div class="actions">
            <input type="submit" value="Answer " class="btn primary"> 
        </div>
    }
    
}