@(question: Question, answerForm:Form[Answer])

@import helper._
@import helpers.ApplicationHelper._
@import helper.twitterBootstrap._

@main("View Question") {
<div class='hero-unit' style="border-radius:10px; border:2px solid black;">
	<h2>@question.title</h2>
	Tags: <span class="label label-info">@question.tags</span>
	<hr/>
	<p>@question.description</p>
	<hr/>
	<div class="row">
	<dl style="margin-left:10px;">
		<dt>Posted on</dt>
		<dd>@question.publish_date</dd>
		<dt>Posted by</dt>
		<dd>@question.questionOwner.getUsername</dd>
	</dl>
	</div>
	
</div>

   @for(answer <- question.answers) {
   
   
   
   <div class='well' style="border-radius:10px;">
   <button class="close" style="height:64px;"><span class="badge badge-success">Votes @answer.votes</span></button>
	Posted by: <span class="label label-info">@answer.user.getUsername</span>
	<hr/>
	<p>@answer.description</p>
	<button class="btn btn-success">Vote +1</button>

	
</div>

}
<hr/>
<hr/>
<hr/>

    @if(getCurrentUser() != null) {      
    @form(routes.Questions.answerQuestion(), 'class -> "form-inline") {
        <fieldset>
            @textarea(answerForm("description"), '_label -> "Type your answer", 'rows -> 5, 'cols -> 150, 'style -> "width: 100%")
           <input type="hidden" name="question.id" value="@question.id"></input>
           <input type="hidden" name="user.id" value="@getCurrentUser().id"></input>  
         </fieldset>
        <div class="actions">
            <input type="submit" value="Answer " class="btn primary"> 
        </div>
       }
    }
    
}
