@(userForm: Form[User])

@import helper._

@main("hola") {
    
    <h1>Login</h1>
    
    @form(routes.Users.doLogin()) {
        <fieldset>
            @inputText(userForm("username"), '_label -> "User name")
            @inputText(userForm("password"), '_label -> "User password")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Login" class="btn primary"> or 
            <a href="@routes.Questions.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
}