@(userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Sign up") {
    
    <h1>Sign up</h1>
    
    @form(routes.Users.doSignUp(), 'class -> "well form-inline") {
            @inputText(userForm("username"), '_label -> "User name")
            @inputText(userForm("password"), '_label -> "User password")
        
        <div class="actions">
            <input type="submit" value="Create User " class="btn primary"> or 
            <a href="@routes.Questions.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
}